$sm: 350px;
$md: 768px;
$lg: 1200px;
$primaryColor: #0e5657;
$peachColor: #f88e75;
$beigeColor: #f6ece3;

.container {
  .LabelTitle {
    font-weight: bold;
  }
  .PictureContainer {
    h2 {
      font-weight: bold;
      margin: 1.5rem 0;
    }

    h3 {
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
    .ImgWrapperLarge {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: $beigeColor;
      border-radius: 1rem;
      padding: 3rem 0rem;
      margin: 1rem 0rem;
      @media (min-width: $md) {
        padding: 6rem 4rem;
        margin: 2rem 0rem;
        cursor: pointer;
      }

      p {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;

        @media (min-width: $md) {
          font-weight: bold;
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }
    }
    .ImgWrapperContainer {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      width: 100%;
      justify-content: center;
      margin-bottom: 1.5rem;

      @media (min-width: $md) {
        margin-bottom: 3rem;
        gap: 1rem;
      }

      .ImgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0rem;
        width: 100px;
        height: 90px;
        background-color: $beigeColor;
        border-radius: 1rem;
        @media (min-width: $md) {
          width: 200px;
          height: 150px;
          background-color: $beigeColor;
          border-radius: 1rem;
        }
      }
    }
  }

  svg {
    width: 3rem;
    height: 3rem;

    @media (min-width: $md) {
      width: 4rem;
      height: 4rem;
    }
  }

  small {
    font-style: italic;
    @media (min-width: $md) {
      margin-left: 3rem;
    }
  }
}
