.container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
}

.input {
  background-color: rgba(white, 0.8);
  width: 100%;
  height: 60px;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
}

.textarea {
  height: auto;
  .form-control {
    height: auto;
    resize: none;
  }
}
