$sm: 350px;
$md: 830px;
$lg: 1200px;
$primaryColor: #0e5657;
$peachColor: #f88e75;
$beigeColor: #f6ece3;

.container {
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 2rem 0rem;

    span {
      font-weight: bold;
    }
  }

  .PlusCircle {
    margin-left: 1rem;
    cursor: pointer;
    &:hover {
      fill: black;
      cursor: pointer;
    }
  }

  .MinusCircle {
    margin-right: 1rem;
    cursor: pointer;
    &:hover {
      fill: black;
      cursor: pointer;
    }
  }

  .PriceContainer {
    display: flex;
    align-items: center;
  }

  .included {
    h2 {
      padding: 2rem 0 0 0;
      font-weight: bold;
    }
  }
}
