.container {
  .counterContainer {
    margin-top: 10px;
    border: 2px solid var(--button-border);
    border-radius: 14px;
  }

  .singleCounter {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
  }

  .buttons {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  .button {
    background-color: var(--input-button);
    box-shadow: 0px 8px 10px rgba(192, 190, 189, 0.17);
    border-radius: 45px;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .addTextContainer {
    text-align: end;
    margin-bottom: 30px;
  }

  .addTextBtn {
    border: none;
    background-color: var(--input-button);
    width: 140px;
    height: 33px;
    border-radius: 43px;
    font-size: 16px;
    padding: 3px;
  }

  .petsContainer,
  .helpContainer,
  .rentContainer {
    margin: 25px 0;
  }

  .pets {
    border: none;
  }
}
