@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

.Container {
  background-color: var(--header);
  height: 370px;
  margin: 1rem 0.5rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;

  @include tablet {
    width: 270px;
    flex-wrap: wrap;
  }

  h2 {
    font-size: 24px;
    color: #171211;
    text-align: center;
  }

  p {
    font-size: 18px;
    color: #171211;
    line-height: 131%;
  }
}
