$sm: 400px;
$md: 850px;
$lg: 1200px;
$primaryColor: #0e5657;

.NavbarItems {
  z-index: 99;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  position: sticky;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 1.2rem 1.2rem;

  @media (min-width: $md) {
    padding: 0;
    margin: 0;
    background: rgba(white, 1);
    top: 0;
    left: 0;
    width: 100%;
    // border-radius: 0 0 2rem 2rem;
  }

  .NavMenu {
    display: none;
    color: black;
    list-style: none;

    @media (min-width: $md) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }

    .PrimaryLinksWrapper {
      display: none;
      padding: 1rem;
      padding: 0.5rem;
      @media (min-width: $lg) {
        display: flex;
      }
    }

    li {
      padding: 1rem;
    }
  }

  .NavMenuActive {
    z-index: 99;
    background: rgba(white, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0rem 0rem 0rem;
    width: 100vw;
    height: 101vh;
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 1;
    list-style: none;
    transition: all 0.3s ease;
    border-radius: 0 0 2rem 2rem;
    transform: translateY(-16px);

    @media (min-width: $md) {
      .PrimaryLinksWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 10px;
      list-style: none;
      width: 100vw;
      height: 25vh;
      justify-content: space-between;
      margin-right: 2rem;
      padding-top: 3rem;
      padding-right: 30vw;

      @media (min-width: $md) {
        height: 40vh;
      }
    }

    p {
      font-size: 1.25rem;
      font-weight: bold;
      padding: 0rem 1rem;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
      text-align: start;
      @media (min-width: $sm) {
        margin-top: 0rem;
      }
    }
  }

  .NavLinksPrimary {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.3rem 2rem;
    width: 100%;
    display: table;
    &:hover {
      background-color: rgba($primaryColor, 1);
      color: white;
      border-radius: 1rem;
    }
  }

  .NavLinks {
    padding: 0.2rem 1rem;
    width: 100%;
    display: table;
    text-align: start;
    &:hover {
      background-color: rgba($primaryColor, 1);
      color: white;
      border-radius: 1rem;
    }

    @media (min-width: $md) {
      padding: 0.4rem 1rem;
    }
  }

  .NavbarLogo {
    font-weight: bold;
    font-size: 2rem;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    padding: 1.5rem 1rem;
    @media (min-width: $md) {
      justify-self: start;
      margin-left: 1rem;
      cursor: pointer;
    }
    &:hover {
      color: $primaryColor;
    }
  }

  .MenuIcons {
    display: flex;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    font-size: 1.3rem;

    svg {
      margin: 0.5rem 0.5rem;

      @media (min-width: $md) {
        margin: 0.2rem 0.75rem;
        cursor: pointer;
      }

      &:hover {
        color: $primaryColor;
      }
    }
  }

  .SubMenu {
    @media (min-width: $md) {
      display: none;
    }
  }

  .SubMenuWrapper {
    padding: 1rem;

    @media (min-width: $sm) {
      padding: 1;
    }
  }
}
