// FONTS
@font-face {
  font-family: "Greycliff";
  src: url(../assets/fonts/greycliff.woff2);
}

// COLORS
:root {
  --header: #f6ece3;
  --container: #fdfaf8;
  --input-button: #f4a491;
  --button-border: #0e5657;
}
