@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.container {
  background: #f6ece3;

  @include desktop {
    display: flex;
    min-height: 100vh;
    flex-direction: row-reverse;
  }

  .animation {
    @include desktop {
      //Personligen tyckte jag det var snyggare med header 40% och form 60%, vi kan dubbelkolla mot slutet
      width: 50vw;
    }
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    // min-height: 100vh;

    @include desktop {
      width: 50vw;
      background-color: var(--container);
      justify-content: space-between;
    }
  }

  .body {
    background-color: var(--container);
    border-radius: 25px 25px 0 0;
    padding: 20px;
    min-height: 70vh;

    @include desktop {
      border-radius: 0;
      padding: 0 50px;
      margin-top: 2rem;
    }
  }
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  padding: 1.85rem;
  align-items: center;
  height: 80px;
  @include desktop {
    margin-top: 90px;
  }

  .title {
    font-size: 1.2rem;

    @include desktop {
      font-size: 2rem;
      line-height: 3rem;
      padding: 15px;
    }
  }
}

.btnNext {
  background-color: var(--button-border);
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  margin: 0.5rem 0rem;
  width: 140px;
  height: 45px;
  border: none;
  border-radius: 2rem;
  max-width: 100%;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

  @include desktop {
    font-size: 1.5rem;
    width: 160px;
  }
}

.btnBack {
  text-decoration: underline;
  border: none;
  background-color: var(--container);
  color: #000;
  width: 140px;
  height: 45px;
  margin: 0.5rem 0rem;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 2rem;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

  @include desktop {
    font-size: 1.5rem;
    width: 160px;
  }
}

.buttons {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--container);
}
