.container {
  display: flex;
  align-items: center;

  .titleWrapper {
    display: flex;
    position: absolute;
    left: 100px;
    top: 50%;
    width: 500px;

    .title {
      font-size: 2.5rem;
      color: white;
      line-height: 3rem;
    }
  }
}

.btn {
  background-color: rgba(grey, 0.8);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 0rem;
  padding: 0 60px;
  height: 60px;
  border: none;
  border-radius: 2rem;
  max-width: 100%;
  &:hover,
  &:focus {
    background-color: rgba(blue, 0.5);
    color: white;
  }
}

.buttons {
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  padding: 1rem;
}
