.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.header {
  background: #ff00cc;
  background: -webkit-linear-gradient(to top, #333399, #ff00cc);
  background: linear-gradient(to top, #333399, #ff00cc);

  width: 50vw;
}
